body {
	font-family: 'Josefin Slab', serif;

}

.logo{
	width: 100%
}

#ctrlPnl{
	float: left;
    width: 15%;
    height: 800px;
    border: 1px solid lightgray;
    padding: 5px;
}

#network {
	float:left;
    width: 50%;
    height: 800px;
    border: 1px solid lightgray;
}

#detailsPnl{
	float: left;
    width: 33%;
    height: 800px;
    border: 1px solid lightgray;
    word-wrap: break-word;
    padding: 5px;
}

#jmol_appletinfotablediv{
	width: 100%;
    height: 30%;
}

nobr{
	display: none;
}

#jmol_query{
	display: none;
}

dt{
    color: darkblue;
}


div.dropdown_container {
    width:90%;
}

select.pathsList {
    width:auto;
}

/*IE FIX */
select#pathsList {
    width:100%;
}

select:focus#pathsList {
    width:auto\9;
}

div.dropdown_container {
    width:90%;
}

select.graphList {
    width:auto;
}

/*IE FIX */
select#graphList {
    width:100%;
}

select:focus#graphList {
    width:auto\9;
}
